.arrow{
    &:after{
        content:"";
        height:8px;
        width:8px;
        display: block;
        border-right:2px solid #fff;
        border-bottom:2px solid #fff;
        -webkit-transform:rotate(135deg);
    }
}
.dl_bg{
    background: #21232f;
}