@import "commom";
/*
Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss

Backtrace:
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:482:in `read'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:293:in `watch'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin.rb:108:in `method_missing'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/exec/sass_scss.rb:381:in `watch_or_update'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/bin/sass:13:in `<top (required)>'
C:/Ruby23-x64/bin/sass:23:in `load'
C:/Ruby23-x64/bin/sass:23:in `<main>'
*/
/*body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss"; }*/
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
html,body,.container{
  width:100%;
  height:100%;
  overflow: hidden;
}
header{
  height:43px;
  width:100%;
  background: #292b37;
  border:1px solid #3b3e4c;
  color:#fff;
  position: relative;
  line-height: 43px;
  h3{
    font-size: 17px;
    text-align: center;
    font-weight: normal;
  }
  .title_left{
    position: absolute;
    top:50%;
    margin-top: -4px;
    left:15px;
    height:100%;
    display: block;
  }
  .title_right{
    position: absolute;
    top:0;
    right:15px;
    font-size: 34px;
  }
}
section{
  height:100%;
  width:100%;
  background:#292b37;
  .tool_cont{
    display: -webkit-flex;
    -webkit-flex-wrap:wrap;
  }
  dl{
    width:50%;
    height:172px;
    padding-top: 48px;
    border-bottom: 1px solid #3b3e4c;
    border-right:1px solid #3b3e4c;
  }
  dt{
    width:28px;
    height:30px;
    margin: 0 auto;
    margin-bottom: 33px;
    img{
      width:100%;
      height:100%;
    }
  }
  .Scales{
    height:28px;
    width:47px;
  }
  .bottle{
    width:18px;
    height:30px;
  }
  dd{
    color:#fff;
    font-size: 14px;
    text-align: center;
  }
}
