@import "common";
/*
Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss

Backtrace:
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:482:in `read'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin/compiler.rb:293:in `watch'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/plugin.rb:108:in `method_missing'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/exec/sass_scss.rb:381:in `watch_or_update'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-4.0.0.alpha.1/bin/sass:13:in `<top (required)>'
C:/Ruby23-x64/bin/sass:23:in `load'
C:/Ruby23-x64/bin/sass:23:in `<main>'
*/
/*body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss"; }*/
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
html,body,.container{
  width:100%;
  height:100%;
  overflow: hidden;
}
header{
  height:43px;
  width:100%;
  background: #292b37;
  border:1px solid #3b3e4c;
  color:#fff;
  position: relative;
  line-height: 43px;
  h3{
    font-size: 17px;
    text-align: center;
    font-weight: normal;
  }
  .title_left{
    position: absolute;
    top:50%;
    margin-top: -4px;
    left:15px;
    height:100%;
    display: block;
  }
  .title_right{
    position: absolute;
    top:0;
    right:15px;
    font-size: 34px;
  }
}
.form_info{
  width:100%;
  height:123px;
  padding-top:15px;
  background: #ebebeb;
  .put{
    width:92%;
    height:35px;
    margin:0 auto;
    border-radius: 5px;
    background: #fff;
    input{
      width:48%;
      height:99%;
      border:none;
      outline: none;
      display: block;
      padding-left:20px;
      margin:0 auto;
      background: url("../img/search.png") no-repeat 0 10px;
      background-size: 15px 15px;
    }
  }
}
.p_info{
  color:#808080;
  font-size: 12px;
  line-height: 15px;
  padding-top: 10px;
  width:92%;
  margin:0 auto;
}
.check{
  width:92%;
  margin:0 auto;
  height:14px;
  margin-top:6px;
  span{
    width:25%;
    float: left;
    small{
      line-height: 14px;
      font-size: 12px;
      height:100%;
      float: left;
    }
    i{
      height:14px;
      width:14px;
      float: left;
      margin-right: 10px;
    }
    &:nth-child(1){
      color:#58b431;
      i{
        background:#58b431;
      }
    }
    &:nth-child(2){
      color:#0bcbf2;
      i{
        background:#0bcbf2;
      }
    }
    &:nth-child(3){
      color:#ea5042;
      i{
        background:#ea5042;
      }
    }
  }
}
section{
  height:100%;
  width:100%;
  background: #fff;
  padding-left: 15px;
}
.classify{
  height:72px;
  width:100%;
  margin-top: 12px;
  margin-bottom:10px;
}
.class_list{
  width:200%;
  overflow: hidden;
  li{
    width:60px;
    height:50px;
    float: left;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-right: 5px;
    p{
      width:100%;
      height:100%;
      background:rgba(0,0,0,.75);
      position: absolute;
      top:0;
      left:0;
      font-size: 15px;
      color:#fff;
      line-height: 50px;
      text-align: center;
    }
    img{
      width:100%;
      height:100%;
    }
  }
}
.all_classify{
  margin-left: 15px;
  li{
    height:44px;
    line-height: 44px;
    color:#333;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    span{
      position: absolute;
      top:50%;
      right:15px;
      margin-top:-12.5px;
      height:25px;
      line-height: 25px;
      text-align: center;
      width:25px;
      font-size: 12px;
      color:#fff;
      border-radius: 50%;
    }
    .red{
      background: #ea5042;
    }
    .green{
      background: #58b431;
    }
    .blue{
      background: #0bcbf2;
    }
  }
}
